# Game:
*.autosave.map
*.bak
*.prt
*.srf
*.bsp
*.pk3

# OS:
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini
*.db

# Adobe:
*.psd
*.ai

# Misc:
*.7z
1.1/scripts/q3map2_nova.shader
